{% extends "blog/base.html" %}

{% block title %}Search{% endblock %}

{% block content %}
    {% if "query" in request.GET %}
      <h1>Posts containing "{{ cd.query }}"</h1>
      <h3>Found {{ total_results }} result{{ total_results|pluralize }}</h3>
        {% for result in results %}
           {% with post=result.object %}
              <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
           {{ post.body|truncatewords:5 }}
          {% endwith %}
    {% empty %}
  <p>There are no results for your query.</p>
  {% endfor %}
  <p>
      <a href="{% url 'blog:post_search' %}">Search again</a>
  </p>
{% else %}
<nav class="navbar navbar-light bg-light">
    <h1>Search for posts</h1>
    <form class="form-inline" action="." method="get">
        {{ form.as_p }}
         <input class="form-control mr-sm-2" type="text" name="search_box" placeholder="Search">
        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
    </form>
</nav>
{% endif %}
{% endblock %}
